<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>About</h1>
    <p>Data from template : {{index .StringMap "test"}}</p>

    <p>
        {{if ne (index .StringMap "remote_ip") ""}}
            You're remote IP is {{ index .StringMap "remote_ip" }}
        {{else}}
            I don't knw your Ip address. Please visit the <A href="/">Hommepage</A>
        {{end}}
    </p>
</body>
</html>